@import '/src/assets/styles/utils/variables.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  // display: flex;
  // flex-direction: column;
}

// drops the footer to the outmost bottom, maximizing the viewport height
.content-wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

// resets buttons
button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}

main {
  flex-grow: 1;
  margin-bottom: 2rem;
}

section {
  display: block;
}

@media (prefers-color-scheme: light) {
  body {
    background-color: $white-color;
  }
}

@media (prefer-color-scheme: dark) {
  body {
    background-color: $black-color;
  }
}