@import '/src/assets/styles/utils/variables.scss';

h1, p, .text-logo, a, footer {
  color: $black-color;
}


.text-logo,
p,
a,
.blog-date {
  font-family: $font-serif;
}

.text-logo {
  font-size: 1rem;
  font-weight: 900;
}

a {
  text-decoration: none;
  font-size: 1rem;
  cursor: pointer;
  transform: scale(1);
  transition: transform 0.3s ease;
}

// header

.nav-item a {
  display: inline-block;
}

a:hover {
  text-decoration: underline;
  transform: scale(1.1)
}

.hamburger {
  i {
    font-size: 1.3rem;
    transform: scale(1);
    transition: transform 0.3s ease;
  }

  i:hover, i:focus {
    transform: scale(1.2)
  }
}

// about intro

.about-descriptions {
  h1 {
    font-weight: 700;
    padding-right: 3rem;
    line-height: 1.2;
  }

  p {
    margin-top: 0.75rem;
    line-height: 1.2;
  }
}

// about content


// post detail

.post-content-wrapper {
  h1 {
    margin-right: 3rem;
  }

  p {
    margin-right: 1.75rem;
  }
}

// footer

footer {
  h6 {
    font-weight: 100;
  }
  color: $white-color;
}

@media (min-width: 769px) {

  .text-logo {
    font-size: 1.25rem;
  }

  .hamburger {
    i {
      font-size: 1.8rem;
    }
  }

  .about-descriptions {
    h1 {
      font-size: 1.7rem;
      padding: 0;
    }
  
    p {
      margin-top: 0.75rem;
    }
  }

  // post detail

  .post-content-wrapper {
    h1 {
      margin-right: 0;
    }

    p {
      margin-right: 0;
    }
  }
}

@media (prefers-color-scheme: light) {
  h1, p, .text-logo, a {
    color: $black-color;
  }
}

@media (prefers-color-scheme: dark) {
  h1, p, .text-logo, a, footer {
    color: $white-color;
  }

  .hamburger {
    i {
      color: $white-color;
    }
  }
}

