@import '/src/assets/styles/utils/variables.scss';

// about-intro

.about-intro {
  margin-bottom: 3rem;
}

.user-icon {
  width: 40vw;
  border-radius: 50%;
  margin-bottom: 1rem;
}

.about-user {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: baseline;
  margin-top: 1rem;
  margin-right: 0.25rem;
}


// about-content

.about-content {
  margin-bottom: 2rem;
}

.about-content-card {
  margin-top: 1rem;
  
  p {
    margin-top: 1rem;
  }
}

@media (min-width: 769px) {

  .user-icon {
    width: 22vw;

  }
  // about intro
  .about-user {
    flex-direction: row;
    gap: 1rem;
    align-items: center;
    margin-right: 0;
  }
}