@import '/src/assets/styles/utils/variables.scss';

header {
  padding: 1.25rem 0;
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
  }
  background-color: $white-color;
}

.logo {
  display: flex;
  justify-content: center;
  gap: 0.25rem;
  align-items: center;

  img {
    width: 1.45rem;
  }
}

nav {
  display: none;
  gap: 1.5rem;

  a {
    text-transform: uppercase;
    font-weight: 700;
  }
}



@media (max-width: 768px) {
  nav {
    display: none;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 0.35rem;
    position: absolute;
    top: 40px;
    left: 0;
    width: 100%;
    background-color: $white-color;
    z-index: 1;

    .nav-item {
      // border-bottom: 1px solid gray;
      width: 100%;
      padding-block: 0.5rem;
    }
  }

  nav.open {
    display: flex;
  }
}

@media (min-width: 769px) {
  header {
    padding: 1.75rem 0;
  }
  nav {
    display: flex;
    justify-content: space-between;
  }

  .hamburger {
    display: none;
  }
  
  .logo {
    img {
      width: 2rem;
    }
  }
}

@media (prefers-color-scheme: dark) {
  header, nav {
    background-color: $black-color2;
  }
}