.featured-post {
  position: relative;
  z-index: 1;
  padding-bottom: 2rem;
}

@media (min-width: 600px) {
  .featured-post {
    margin-right: 10rem;
  }
}

@media (min-width: 992px) {
  .featured-post {
    margin-right: 20rem;
  }
}