// about

.about-intro {
  margin-bottom: 3rem;
  margin-top: 1rem;
}

.about-content {
  margin-bottom: 3.5rem;
}


// blogs

.recent-posts {
  h4 {
    text-align: center;
  }
}

@media (min-width: 769px) {
  .about-intro {
    margin-top: 5rem;
  }
}

// home

.section-home {
  position: relative;
  max-width: 100%;
  margin-bottom: 3.5rem;
}